
@media only screen and (min-width: 64em) {
    body{
        background-color: rgb(40, 40, 40);
    }

    .editor{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .text-editor{
        width: 50%;
    }

    .title-editor input{
        width: 120%;
    }
}