
@media only screen and (min-width: 64em) {
    .create-blog{
        margin-left: 5%;
        margin-top: 5%;
        width: 10em;
        height: 15em;
        border-style: double;
        border-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .create-blog:hover{
        cursor: pointer;
    }

    .documents-container{
        margin-top: 5em;
        width: 100%;
    }

    .documents-container h2{
        margin-left: 2em;
    }



    .documents-container .document{
        display: grid;
        grid-template-columns: 40em 57em 40em;
        grid-template-rows: 100%;

        
    }

    .documents-container .document #options{
        position: relative;
        right: 0;
        
      
    }

    .document-metrics{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        gap: 30em;
    }
}