
@media only screen and (min-width: 64em) {
    body{
        background-color: black;
        height: 100%;
        margin: 0;
    }

    .home{
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .home-bar{
        padding: 30px;
        display: flex;
        flex-direction: row;
        background-color: rgb(40, 41, 44);
        height: 100vmin;
    }

    .home-content{
        display: flex;
        flex-direction: row;
    }

    .create-blog{
        padding-left: 30px;
        background-color: rgb(28, 28, 30);
    }

    .create-blog:hover{
        cursor: pointer;
    }

    .documents-container{
        margin-top: 5em;
        width: 100%;
        margin-left: 2vmin;
    }

    .documents-container h2{
        margin-left: 2em;
    }



    .documents-container .document{
        width: 100%;
        display: grid;
        grid-template-columns: 100vmin 15vmin;
        column-gap: 450px;
        grid-template-rows: 100%;

        
    }

    .documents-container .document #options{
        position: relative;
        right: 0;
        
      
    }

    .document-metrics{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        gap: 30em;
        color: white;
        margin-bottom: 30px;
    }
}