/* Centering the auth-form on the screen */
@media only screen and (min-width: 64em) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: 0;
        background-color: black;
    }

    .auth-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        width: 50vmin;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    .auth-form h1 {
        margin: 0;
        margin-bottom: 200px;
        font-size: 1.5rem;
        color: white;
    }

    .auth-form-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .auth-form-input-container {
        display: flex;
        flex-direction: column;
        gap: 30px;
        text-align: center;
        align-items: center;
    }

    .auth-form-input-container input {
        background: transparent;
        width: 300px; /* Max width for responsiveness */
        padding: 20px;
        border: 1px solid #d3d3d3;
        border-color: #333;

        border-radius: 5px;
        font-size: 1rem;
        color: white;
    }

    .auth-form-input-container button {
        width: 270px; /* Max width for responsiveness */
        padding: 10px;
        margin-top: 5px;
        background-color: #999;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 1rem;
        cursor: pointer;
    }

    .auth-form-input-container button:hover {
        background-color: #000;
        border: 0.1px solid white;
    }
}
